

	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__ADMIN_F__/article/article_list_add.html" data-title="资讯管理" href="javascript:void(0)">友情链接</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 地址管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__ADMIN_FEN__/Picture/picture_list.html" data-title="地址管理" href="javascript:void(0)">地址管理</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__ADMIN_FEN__/Product/product_brand.html" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
					<li><a data-href="__ADMIN_FEN__/Product/product_category.html" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a data-href="__ADMIN_FEN__/Product/product_list.html" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
			</ul>
		</dd>
	</dl>
		
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					
					
					
					<li><a data-href="__ADMIN_FEN__/Member/member_list.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
					
					<li><a data-href="__ADMIN_FEN__/Member/feedback_list.html" data-title="评论管理" href="javascript:;">评论管理</a></li>
					
			</ul>
		</dd>
	</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__ADMIN_FEN__/Admintwo/admin_role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="__ADMIN_FEN__/Admintwo/admin_permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a data-href="__ADMIN_FEN__/Admintwo/admin_list.html" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
			</ul>
		</dd>
	</dl>


	<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="__ADMIN_FEN__/Charts/charts_1.html" data-title="品牌管理" href="javascript:void(0)">折线图</a></li>
					<li><a data-href="__ADMIN_FEN__/Charts/charts_2.html" data-title="分类管理" href="javascript:void(0)">时间轴折线图</a></li>
					
			</ul>
		</dd>
	</dl>
		
</div>
