/*聚合页*/
@media screen and (max-width:960px) {

html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */}
h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}
h5{font-size:2.0rem;font-weight:normal}
a  {font-size: 1.4rem;/*1.4 × 10px = 14px */}
.header_top ,.header_r,.nav,.fixed_navigation,.Ybtnsbox,.wrap_footer,.footer_list,.Yleft .Ywrapk:nth-child(1),.Yleft .Ywrapk:nth-child(4),.Yleft .Ywrapk:nth-child(2),.YbproList,.Yinfolist2:nth-child(3n),.Yinfolist2:nth-child(4n){display:none}
.Yleft{position:absolute;bottom:-37rem;width:96%;margin:.8rem;}
.Yleft .Ytit{background:none;float:none}
.Yright{width:100% !important;float:none}
.header{width:100% !important;height:7rem}
.Ywrap{width:100%; position:absolute}
.header_logo{padding-left:1rem}
.header_logo img{width:50%}
.header_l{width:100%}
.Yright .Ywrapk{border:none;float:none !important}
.Crumbs{padding:0;clear:both;width:98%}
.Yright .Ywrapk .Ytit{background:none;border-bottom:2px #ededed solid;height:3.8rem;line-height:3.8rem}
.Yright .YproList ul li .Ypic{width:30%;padding-top:1rem}
.Yright .YproList ul li .Yinfo{width:66%;padding:0 0 0 1rem}
.Yright .YproList ul li .Ypic img{width:100%;height:auto}
.Yright .YproList ul li .Yinfo .Yadv,.Yright .YproList ul li .Yinfo .Yinfolist2{font-size:1.2rem}
.Yright .YproList ul li .Yinfo .Yadv{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;}
.Yright .YproList ul li .Yinfo .Yname a{font-size:1.6rem;font-weight:normal}
.alsobuy_prolist_div{float:left !important;margin-top:1rem !important;width:96% !important}
.Ywrapk{float:none}
.Yleft .Ywrapk{border:none}
.Productlist li{width:100% !important}
.Productlist .plist_li,.Productlist{width:100% !important}
.Productlist .pri{font-size:1.4rem}

}

