
  <div class='footer'>
    <div class='footer_1'>
      <div class='W1200'>
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/zheng1.png' title='' alt='' /></p>
          <p class='FL'>
            <span>正品保障</span>
            <span>国家认证 正规合法</span>
          </p>
        </div>
        
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/zheng2.png' title='' alt='' /></p>
          <p class='FL'>
            <span>专业药师</span>
            <span>用药全程指导</span>
          </p>
        </div>
        
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/sou.png' title='' alt='' /></p>
          <p class='FL'>
            <span>厂家授权</span>
            <span>厂家授权 正品渠道</span>
          </p>
        </div>
        
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/zheng5.png' title='' alt='' /></p>
          <p class='FL'>
            <span>货到付款</span>
            <span>货到付款 购药无忧</span>
          </p>
        </div>
        
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/zheng4.png' title='' alt='' /></p>
          <p class='FL'>
            <span>满79元包邮</span>
            <span>全场满79元包邮</span>
          </p>
        </div>
        
        <div class='footer_mk'>
          <p class='FL'><img src='__INDEX__/static/images/zheng3.png' title='' alt='' /></p>
          <p class='FL'>
            <span>正品保障</span>
            <span>国家认证 正规合法</span>
          </p>
        </div>
        
      </div>
    </div>
    <div class='footer_2'>
      <div class='W1200'>
        <div class='FL footer_list'>
        
          <div class='FL footer_p1'>
            <p>手机购药</p>
            <p><img src='__INDEX__/static/images/ewm.png' title='' alt='' /></p>
            <p>APP首单减10元</p>
          </div>
          
          <div class='FL footer_p1'>
            <p>微信购药</p>
            <p><img src='__INDEX__/static/images/ewm.png' title='' alt='' /></p>
            <p>扫一扫领优惠券</p>
          </div>
          
        </div>
        
        <div class='FL footer_table'>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th>新手指南</th>
              <th>配送方式</th>
              <th>支付方式</th>
              <th>售后服务</th>
              <th>特色服务</th>
            </tr>
            <tr>
              <td><a href='javascript:;'>购物流程</a></td>
              <td><a href='javascript:;'>配送范围及运费</a></td>
              <td><a href='javascript:;'>货到付款</a></td>
              <td><a href='javascript:;'>退化货流程</a></td>
              <td><a href='javascript:;'>会员俱乐部</a></td>
            </tr>
            <tr>
              <td><a href='javascript:;'>会员级别</a></td>
              <td><a href='javascript:;'>隐私配送</a></td>
              <td><a href='javascript:;'>网上支付</a></td>
              <td><a href='javascript:;'>退换货政策</a></td>
              <td><a href='javascript:;'>投诉建议</a></td>
            </tr>
            <tr>
              <td><a href='javascript:;'>积分说明</a></td>
              <td><a href='javascript:;'>商品验收及签收</a></td>
              <td><a href='javascript:;'>银行转账</a></td>
              <td><a href='javascript:;'>退款流程</a></td>
              <td><a href='javascript:;'>用药咨询</a></td>
            </tr>
            <tr>
              <td><a href='javascript:;'>优惠券</a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'>免责声明</a></td>
            </tr>
            <tr>
              <td><a href='javascript:;'>常见问题</a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'></a></td>
              <td><a href='javascript:;'></a></td>
            </tr>
          </table>
        </div>
        
        <div class='FL footer_div'>
          <div class='footer_lx'>
            <p>我健康订购热线</p>
            <p>400-8811-020</p>
            <p>服务时间：08:30-23:00</p>
          </div>
          
          <div class='footer_lx'>
            <p>我健康订购热线</p>
            <p>400-8811-020</p>
            <p>服务时间：08:30-23:00</p>
          </div>
          
        </div>
        
      </div>
    </div>
    
    <div class='footer_3'>
      <div class='W1200'>
        <div class='footer_jg'>
          <span>政府机构：</span>
          <em><a href='javascript:;'>国家卫生和计划生育委员会</a></em>
          <em><a href='javascript:;'>国家食品药品监督管理总局</a></em>
          <em><a href='javascript:;'>广东省卫生和计划生育委员会</a></em>
          <em><a href='javascript:;'>广东省食品药品监督管理局</a></em>
        </div>
        
        <div class='footer_jg footer_bottom'>
          <span>友情链接：</span>
          <em><a href='javascript:;'>环球医药招商网</a></em>
          <em><a href='javascript:;'>皮肤病</a></em>
          <em><a href='javascript:;'>药品文章</a></em>
          <em><a href='javascript:;'>摇篮育儿问答</a></em>
          <em><a href='javascript:;'>医药招商网</a></em>
          <em><a href='javascript:;'>中华康网</a></em>
          <em><a href='javascript:;'>69健康</a></em>
          <em><a href='javascript:;'>中药材</a></em>
          <em><a href='javascript:;'>医学百科</a></em>
          <em><a href='javascript:;'>PCbaby母婴用品</a></em>
          <em><a href='javascript:;'>康强网</a></em>
          <em><a href='javascript:;'>亲贝网</a></em>
          <em><a href='javascript:;'>妈妈论坛网</a></em>
          <em><a href='javascript:;'>中医中药秘方网</a></em>
          <em><a href='javascript:;'>三九养生堂</a></em>
        </div>
        
        <div class='footer_cen'><a href='javascript:;'>批发商洽</a>| <a href='javascript:;'>关于我们</a> | <a href='javascript:;'>掌上药店</a> | <a href='javascript:;'>实体药店</a> | <a href='javascript:;'>加入我健康</a> | <a href='javascript:;'>联系我们</a> | <a href='javascript:;'>经营认证</a> | <a href='javascript:;'>友情链接</a> | <a href='javascript:;'>TAG列表</a> | <a href='javascript:;'>网站地图</a> | <a href='javascript:;'>CPS联盟</a></div>
        <div class='footer_cen'><a href='javascript:;'>互联网药品交易服务资格证书</a>| <a href='javascript:;'>互联网药品信息服务资格证书</a> | <a href='javascript:;'>执业药师证</a> | <a href='javascript:;'>药品经营许可证</a> | <a href='javascript:;'>食品经营许可证</a> | <a href='javascript:;'>公司营业执照</a> | <a href='javascript:;'>GSP认证证书</a> | <a href='javascript:;'>增值电信业务经营许可证</a> | <a href='javascript:;'>医疗器械经营许可证</a> | <a href='javascript:;'>第二类医疗器械经营备案凭证</a> | <a href='javascript:;'>国家食品药品监督管理总局-数据查询</a> | <a href='javascript:;'>广东省食品药品监督管理局-数据库查询</a></div>
        
        <div class='footer_bs'>
          <span><img src='__INDEX__/static/images/tool_icon1.png' title='' alt='' /><a href='javascript:;'>粤ICP备<br/>10212320号-1</a></span>
          <span><img src='__INDEX__/static/images/tool_icon2.png' title='' alt='' /><a href='javascript:;'>网络110报警服务<br/>网络110报警服务</a></span>
          <span><img src='__INDEX__/static/images/tool_icon5.jpg' title='' alt='' /><a href='javascript:;'>红盾电子<br/>链接标识</a></span>
          <span><img src='__INDEX__/static/__INDEX__/static/images/index_7.png' title='' alt='' /></span>
          <span><img src='__INDEX__/static/images/index_8.png' title='' alt='' /></span>
          <span><img src='__INDEX__/static/images/index_9.png' title='' alt='' /></span>
        </div>
        
        <div class='footer_cen'>&copy;2010-2016 山西我健康网上药店版权所有，并保留所有权利</div>
      </div>
    </div>
  </div>
  <!--右边固定的内容-->
	
	
  <!--左边固定的导航-->
  <div class='ce'>
    <div>家庭常备</div>
	<div>母婴乐园</div>
	<div>男科药馆</div>
	<div>滋补保健</div>
	<div>医疗器械</div>
	<div><img src='__INDEX__/static/images/ewm.png' title='' alt='' /></div>
	<div>扫码关注我</div>
  </div>
  
  <!--上边固定的收索框-->
  <div class='fixed_logo'>
    <div class='W1200'>
	  <div class='logo FL'>
        <p><img src='__INDEX__/static/images/index_logo.png' /></p>
      </div>
      <div class='logo_ss FL'>
	    <input type='text' name='srk' placeholder='汤臣倍健' /><input type='submit' name='ss' value='搜索' />
	  </div>
	</div>
  </div>